<!DOCTYPE html>
<html lang="en" style="background-color: #b8f5ff">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>EssayWay | Feedback</title>
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation" style="height: 6rem !important">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ url_for('static', filename='essayway.png') }}" alt="logo" style="width:7rem; height:6.3rem; !important">
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="prompts">
                    Prompts
                </a>
                <a class="navbar-item" href="write">
                    Write
                </a>
                <a class="navbar-item" href="feedback">
                    Feedback
                </a>
            </div>
        </div>
    </nav>
    <div class="columns p-6">
        <div class="column is-two-thirds">
            <form action="{{ url_for("feedback")}}" method="post">
               <div class="field">
                    <div class="control is-medium pb-6">
                        <textarea class="textarea is-primary" placeholder="Paste or type your writing here." name="input"></textarea>
                    </div>
                    <p class="subtitle pb-1">What type of writing do you want to analyze?</p>
                    <div class="control is_medium pb-6">
                        <div class="select is-primary">
                            <select name="type">
                                <option>Expository paragraph</option>
                                <option>Expository essay</option>
                                <option>Narrative story</option>
                                <option>Argumentative paragraph</option>
                                <option>Argumentative essay</option>
                                <option>Informational paragraph</option>
                                <option>Informational article</option>
                            </select>
                    </div>

                </div>
                    <div class="control is-medium">
                        <button class="button is-link">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="column is-one-third">
            <div class="control">
                <textarea class="textarea {{loading}}" placeholder="Feedback" readonly>{{output}}</textarea>
            </div>
        </div>
    </div>
</body>
</html>