<!DOCTYPE html>
<html lang="en" style="background-color: #b8f5ff">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>EssayWay- Writing</title>

</head>

<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation" style="height: 6rem !important">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ url_for('static', filename='essayway.png') }}" alt="logo" style="width:7rem; height:6.3rem; !important">
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="prompts">
                    Prompts
                </a>
                <a class="navbar-item" href="write">
                    Write
                </a>
                <a class="navbar-item" href="feedback">
                    Feedback
                </a>
            </div>
        </div>
    </nav>
    <div class="control p-6">
        <textarea
                id="essay"
                class="textarea is-primary"
                placeholder="Write here (if you close the tab, your changes will not be saved)"
                name="input"
                onchange="ok()"
        ></textarea>
        <br>
        <a href="data:text/plain;charset=utf-8," id="download" download="essay.txt" class="button is-primary">Download writing</a>
    </div>
    <script>
        function ok() {
            document.getElementById("download").href = "data:text/plain;base64," + btoa(document.getElementById("essay").value);
        }
    </script>
</body>
</html>